// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    background-color: rgb(242, 242, 242);
    margin:0px;
    padding:0px;
}



header{
    
    box-shadow: 0px 2px 2px 1px rgba($color: #000000, $alpha: 0.1);
    padding-top:10px;
    background-color: rgb(63, 63, 255);
}   


nav{
    padding:0px 30px;
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    flex-direction: row;  
}

h1{
    margin:0px;
    padding:0px;
}

nav h1{
    padding-right: 100px;
}

.registro{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.1em;
}

a{
    text-decoration: none;
    margin: 15px;
    color: black;
}

.espacio{
    width: 40%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin:0px;
    padding:0px;
}
li{
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 1.5em;
    height: 100%;
    
}
.chollos{
    display:flex;
    justify-content: space-evenly; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin:10px;
}

.card{
    margin-bottom: 50px;
    box-shadow: 0px 8px 8px 1px rgba($color: #000000, $alpha: 0.1);
}

.card img:hover{
    transition: 1s;
    transition-delay: 0.0s; transform: translateY(-20px);
    height: 300px;
    
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.mainEncabezado{
    padding:30px;
    margin:40px;
}

footer{
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
}

.inicio:hover{
    color:blue;
    transition: 0.2s;
}

.nuevos:hover{
    color:yellow;
    transition: 0.2s;

}

.destacados:hover{
    color:red;
    transition: 0.2s;

}

.copirright{
    display: flex;
    
    justify-content: center;  
    font-size: 1.5em;
    padding:20px 30px
    
}
.autor{
    padding:0px 40px
}
.descuento{
    text-decoration:line-through;
    color: rgb(207, 80, 1);
}
.precioActual{
    font-size: 2em;
    color: rgb(178, 178, 62);
}